.sidebar-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar-item-icon {
    height: 24px;
    margin-right: 5px;
}