.queryButton {
    background-color: var(--color-button-gray);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.queryButton:hover {
    background-color: var(--color-button-red);
}